<h2>Add a recent workout: </h2>
<form action="/workouts" method="POST">
<labeL>Date:</labeL><br>
<input type="text" name="date"><br>
<label>Time:</label><br>
<input type="text" name="time"><br>
<label>Workout type:</label><br>
<input type="radio" name="workout_type" value="cycling" checked>Cycling<br>
<input type="radio" name="workout_type" value="running">Running<br>
<label>Distance:</label><br>
<input type="text" name="distance"><br>
<label>Units:</label><br>
<input type="radio" name="unit" value="miles" checked>miles<br>
<input type="radio" name="unit" value="km">km<br>
<label>Notes</label><br>
<input type="text" name="notes"><br>
<input type="submit" value="Add workout"><br>
</form>


