<h2>Add a recent workout: </h2>
<form action="/workouts" method="POST">
<labeL>Date:</labeL><br>
<input type="text" name="date"><br>
<label>Time:</label><br>
<input type="text" name="time"><br>
<label>Workout type:</label><br>
<input type="enum_select" name="workout_type"><br>
<label>Distance:</label><br>
<input type="text" name="distance"><br>
<label>Units:</label><br>
<input type="enum_select" name="units"><br>
<label>Notes</label><br>
<input type="text" name="notes"><br>
<input type="submit" value="Add workout"><br>
</form>