<h2>Log in to Runninglog</h2>
<form action="/login" method="POST">
  <table>
  <tr>
    <td><input type="text" name="username" placeholder="Username:"></td>
  </tr>
  <tr>
    <td><input type="text" name="email" placeholder="Email:"></td>
  </tr>
  <tr>
    <td><input type="password" name="password" placeholder="Password:"></td>
  </tr>
  <tr> 
    <td><input type="submit" value="Log in"></td>
  </tr>
  </table>
</form>