<% if logged_in? %>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <p class="navbar-brand">Runninglog</p>
  </div>

  <div>
    <ul class="nav navbar-nav">
      <li><a href="/workouts/new">Add a workout</a></li>
      <li><a href="/users/<%= "#{current_user.slug}" %>">Your profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
<% end %>
<p> Hello, <%= @user.username %> </p>