<h2>Sign up for an account!</h2>
<form action="/signup" method="POST">
  <table>
  <tr>
    <td><input type="text" name="username" placeholder="Username:"></td>
  </tr>
  <tr>
    <td><input type="text" name="email" placeholder="Email:"></td>
  </tr>
  <tr>
    <td><input type="password" name="password" placeholder="Password:"></td>
  </tr>
  <tr> 
    <td><input type="submit" value="Sign up"></td>
  </tr>
  </table>
</form>