<div class="container">
<div class="jumbotron">
    <h1>Welcome to Runninglog!</h1>
    <p class="lead">Runninglog helps you track your workouts over time so you can live your best life.</p>
    <p><a href="/signup" class="btn btn-primary btn-lg center-block">Sign up &raquo;</a></p>
    <p><a href="/login" class="btn btn-primary btn-lg center-block">Log in &raquo;</a></p>
</div>
</div>


